<% include _header %>

<div class="jumbotron text-center" style="max-width: 80%; margin: auto">
  <% if(currentUser && currentUser.facebook.id == profileId) { %>
    <h4>Your pins:<br><br></h4>
  <% } else { %>
    <h4><%=displayName%>'s pins:<br><br></h4>
  <% } %>
  
  <div id="pin-container" style="max-width: 100%; margin: auto">
    <% allPins.forEach(function(pin, ii) { %>
      <div class="grid-item">
        <a href="/viewPin/<%=pin._id%>"><img onerror="imgError(this);" class="grid-image" src="<%=pin.url%>"></a>    
        <p style="overflow: hidden; margin: 0px;"><%=pin.title%></p>
        <% if(currentUser && currentUser.facebook.id == profileId) { %>
          <button id="deletePin_<%=pin._id%>" type="button" class = "btn btn-primary btn-sm" style="margin-bottom:5px">Delete</button>   
        <% } else { %>
          <button id="addFav_<%=pin._id%>" type="button" class = "btn btn-primary btn-sm" style="margin-bottom:5px"><%=pin.favs.length%> <i class="fa fa-heart"></i></button>   
        <% } %>
      </div>
    <% }) %>
  </div>
</div>

<script>
<% include _fav_button %>
<% include _image_error %>
  
  
<% allPins.forEach(function(pin) { %>
  $("#deletePin_<%=pin._id%>").click(function() {
      $.post("/deletePin", {pin_id: "<%=pin._id%>"}, function(data) {
        if(data == "error") {
          window.alert("Delete error");
          window.location.reload();      
        }
        else {
          window.location.reload();      
        }
      }); 
  });
<% }) %>
  
<% include _start_masonry %>
  
</script>

</body>
</html>